constructs>=10.0.0,<11.0.0
aws-cdk-lib==2.53.0
aws-cdk.asset-awscli-v1==2.2.22
aws-cdk.asset-kubectl-v20==2.1.1
aws-cdk.asset-node-proxy-agent-v5==2.0.28
aws-solutions-constructs.aws-lambda-dynamodb==2.28.0
aws-solutions-constructs.core==2.28.0
boto3==1.24.80
botocore==1.27.80